<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- 全般 -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
			<key>footerText</key>
			<string>GENERAL_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>jp.i4m1k0su.autobatterysaver</string>
			<key>key</key>
			<string>sw_enable</string>
			<key>label</key>
			<string>ENABLE</string>
		</dict>
		<!-- 放電中設定 -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISCHARGE</string>
			<key>footerText</key>
			<string>DISCHARGE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>30</integer>
			<key>defaults</key>
			<string>jp.i4m1k0su.autobatterysaver</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>lst_discharge_remaining_battery</string>
			<key>label</key>
			<string>ENABLE_REMAINING_BATTERY</string>
			<key>validTitles</key>
			<array>
				<string>ALWAYS_ENABLE</string>
				<string>10%</string>
				<string>20%</string>
				<string>30%</string>
				<string>40%</string>
				<string>50%</string>
				<string>60%</string>
				<string>70%</string>
				<string>80%</string>
				<string>90%</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>100</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
				<integer>60</integer>
				<integer>70</integer>
				<integer>80</integer>
				<integer>90</integer>
			</array>
		</dict>

		<!-- 充電中設定 -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CHARGE</string>
			<key>footerText</key>
			<string>CHARGE_FOOTER</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>80</integer>
			<key>defaults</key>
			<string>jp.i4m1k0su.autobatterysaver</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>lst_charge_remaining_battery</string>
			<key>label</key>
			<string>ENABLE_REMAINING_BATTERY</string>
			<key>validTitles</key>
			<array>
				<string>ALWAYS_DISABLE</string>
				<string>ALWAYS_ENABLE</string>
				<string>10%</string>
				<string>20%</string>
				<string>30%</string>
				<string>40%</string>
				<string>50%</string>
				<string>60%</string>
				<string>70%</string>
				<string>80%</string>
				<string>90%</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>99</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>30</integer>
				<integer>40</integer>
				<integer>50</integer>
				<integer>60</integer>
				<integer>70</integer>
				<integer>80</integer>
				<integer>90</integer>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>APPLY_CHANGES_FOOTER</string>
		</dict>
		<!-- 設定保存ボタン -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>APPLY_CHANGES</string>
			<key>action</key>
			<string>respring</string>
		</dict>

		<!-- フッター -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVELOPER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@i4M1k0SU</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>icon</key>
			<string>/System/Library/PrivateFrameworks/Preferences.framework/Twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2017 i4M1k0SU</string>
		</dict>
	</array>
	<key>title</key>
	<string>AutoBatterySaver</string>
</dict>
</plist>
